{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- <h1 class="govuk-heading-xl">How many balls can you juggle?</h1> -->

      <form class="form" action="/juggling-trick" method="post">

        <!-- <p>[Insert question content here]</p>

        <p>[See <a href="https://design-system.service.gov.uk">the GOV.UK Design System</a> for examples]</p> -->
        
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <!-- <h1 class="govuk-fieldset__heading">
                Where do you live?
              </h1> -->
               <img src="/public/images/juggling_balls.png" alt="Clock"></img>
              <h1 class="govuk-heading-l">How many balls can you juggle?</h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-many-balls" name="how-many-balls" type="radio" value="3 or more" {{ checked("how-many-balls", "3 or more") }} >
                <label class="govuk-label govuk-radios__label" for="how-many-balls">
                  3 or more
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-many-balls" name="how-many-balls" type="radio" value="1 or 2" {{ checked("how-many-balls", "1 or 2") }}>
                <label class="govuk-label govuk-radios__label" for="how-many-balls">
                  1 or 2
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-many-balls" name="how-many-balls" type="radio" value="None - I cannot juggle" {{ checked("how-many-balls", "None - I cannot juggle") }}>
                <label class="govuk-label govuk-radios__label" for="how-many-balls">
                  None - I cannot juggle
                </label>
              </div>
            </div>
        
          </fieldset>
        </div>

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "where-do-you-live",
  name: "where-do-you-live",
  fieldset: {
    legend: {
      text: "Where do you reside?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "england",
      text: "England"
    },
    {
      value: "scotland",
      text: "Scotland"
    },
    {
      value: "wales",
      text: "Wales"
    },
    {
      value: "northern-ireland",
      text: "Northern Ireland"
    }
  ]
}) }}


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
